<div class="wrapper">
  <div class="header">
    <%= render "statuses/hedder" %>
  </div>

<h1 class="title-message">ユーザー情報を入力しましょう</h1>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  
  <%= render 'statuses/error_messages', model: f.object %>
  <div class="form">
    <div class='weight-bold-text'>
      <label class="form-text">名前</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"name", placeholder:"例) fuwa太郎", maxlength:"40", class:"select-box" %>
  
  
    <div class='weight-bold-text'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true, class:"select-box" %>
  
 
    <div class='weight-bold-text'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字", class:"select-box" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  
    <div class='weight-bold-text'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい", class:"select-box" %>
  </div>
  
    <div class="btn-contents">
      <%= f.submit "登録する" ,class:"input-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  
  
</div>
<% end %>
</div>
