
<%= link_to root_path do %>
  <div class="footer-btn">
    <%= image_tag "Starhome.png", class:"home" %>
    <div class="tab">
      home
    </div>
  </div>
<% end %>

<%= link_to new_status_path do %>
  <div class="footer-btn">
    <%= image_tag "Painting.png", class:"input" %>
    <div class="tab">
      input
    </div>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="footer-btn">
    <%= image_tag "Dochearth", class:"comment" %>
    <div class="tab">
      comment
    </div>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="footer-btn">
    <%= image_tag "Tomato.png", class:"news" %>
    <div class="tab">
      news
    </div>
  </div>
<% end %>