<div class="header-left">
  <%= link_to "Fuwaly", "/", class:"logo" %>
</div>
<div class="header-right">

  <% if user_signed_in? %>
    <div class="log-in">
      <%= link_to current_user.name, edit_user_registration_path, class: "user-name" %>
    </div>
    <div class="log-in">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    </div>
  <% else %>
    <div class="log-in">
      <%= link_to "ログイン", new_user_session_path, class: "login" %>
    </div>
    <div class="log-in">
      <%= link_to "新規登録", new_user_registration_path, class: "sign-up"%>
    </div>
  <% end %>
</div>

  