<div class="title">
  <div class="titlename">
  hogeさんのカルテ
  </div>
  <div class="graphname">
    <div class="sleeping">
      <%= link_to "気分指数", statuses_index_path, class:"btn" %>
    </div>
    <div class="feeling">
      <%= link_to "睡眠の質", looksl_statuses_path, class:"btn" %>
    </div>
    <div class="happiness">
      <%= link_to "幸福指数", lookhp_statuses_path, class:"btn" %>
    </div>
    <div class="taking">
      <%= link_to "服薬状況", "#", class:"btn" %>
    </div>
  </div>
</div>
<div class="main">
  <div class= maingraph>
  <%= line_chart Status.pluck(:date, :sleeping_id), width: '85vw', height: '60vh', max: 5, discrete: true, colors: ["lightblue", "#999"] %>
  </div>
</div>