<div class="title">
  <div class="titlename">
  <% if user_signed_in? %>
  <%= current_user.name + "さんのカルテ" %>
  <% else %>
  <%= "ようこそ" %>
  <% end %>
  </div>
  <div class="graphname">
    <div class="sleeping">
      <%= link_to "気分指数", statuses_index_path, class:"btn" %>
    </div>
    <div class="sleeping">
      <%= link_to "睡眠の質", looksl_statuses_path, class:"btn" %>
    </div>
    <div class="feeling">
      <%= link_to "幸福指数", lookhp_statuses_path, class:"btn" %>
    </div>
    <div class="taking">
      <%= link_to "服薬状況", looktk_statuses_path, class:"btn" %>
    </div>
  </div>
</div>
<div class="main">
  <% if user_signed_in? %>
    <div class= maingraph>
    <%= line_chart @status, width: '85vw', height: '60vh', max: 6, discrete: true, colors: ["pink", "#999"] %>
    </div>
  <% else %>
    <div class="message-box">
    <%= "まずはログインしましょう" %>
    </div>
  <% end %>
</div>