<div class="wrapper">
  <div class="header">
    <%= render "hedder" %>
  </div>

<div class="medicine-cld">
  
  <table>
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.taking_id %></td>
        <td><%= status.start_time %></td>
      </tr>
    <% end %>
  </tbody>
  </table>


  <%= month_calendar events: @statuses do |date, statuses| %>
    <%= date.day %>
    <% @statuses.each do |status| %>
      <div>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="footer">
    <%= render "footer" %>
  </div>
</div>