<div class="wrapper">
  <div class="header">
    <%= render "hedder" %>
  </div>

  <h1 class="title-message">今日の体調を入力しましょう</h1>
  <%= form_with model: @status, local: true do |f| %>

    <div class="form">
      <div class="weight-bold-text">
        日付
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_field :date, class:"select-box" %>

      <div class="weight-bold-text">
        今日の気分
      </div>
      <%= f.collection_select(:feeling_id, Feeling.all, :id, :name, {}, {class:"select-box"}) %>
      
      <div class="weight-bold-text">
        睡眠の状態
      </div>
      <%= f.collection_select(:sleeping_id, Sleeping.all, :id, :name, {}, {class:"select-box"}) %>
    
      <div class="weight-bold-text">
        今日の幸福度
      </div>
      <%= f.collection_select(:happiness_id, Happiness.all, :id, :name, {}, {class:"select-box"}) %>

      <div class="weight-bold-text">
        服薬状況
      </div>
      <%= f.collection_select(:taking_id, Taking.all, :id, :name, {}, {class:"select-box"}) %>
      
      
      
      </div>

    <div class="btn-contents">
      <%= f.submit "入力する" ,class:"input-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  <% end %>

  <%# <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
  </footer> %>
<%# </div> %>
  
</div>