<div class="wrapper">
  <div class="header">
    <%= render "statuses/hedder" %>
  </div>

<h1 class="title-message">ユーザー情報を入力しましょう</h1>
<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  
  <%# <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%# <%= flash[:alert] %>
  <%# </div> %>
  <div class="form">
    <div class='weight-bold-text'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true, class:"select-box" %>
  
  
    <div class='weight-bold-text'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"", class:"select-box" %>
  </div>
    <div class="btn-contents">
      <%= f.submit "ログインする" ,class:"input-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  
</div>
<% end %>